name: Lint and Test Charts

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.14.4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            ct_origin="origin"
            ct_target_branch="${{ github.event.repository.default_branch }}"
          else
            # As ct does not support comparing against a commit, we need to fake a branch with a remote
            ct_origin="ci"
            ct_target_branch="temp-base-branch"
            git branch $ct_origin/$ct_target_branch ${{ github.event.before }}
          fi

          changed=$(ct list-changed \
              --remote $ct_origin \
              --target-branch $ct_target_branch
            )

          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"

            echo "ct_origin=$ct_origin" >> "$GITHUB_OUTPUT"
            echo "ct_target_branch=$ct_target_branch" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct lint \
            --remote ${{ steps.list-changed.outputs.ct_origin }} \
            --target-branch ${{ steps.list-changed.outputs.ct_target_branch }}

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.10.0

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct install \
            --remote ${{ steps.list-changed.outputs.ct_origin }} \
            --target-branch ${{ steps.list-changed.outputs.ct_target_branch }}
